# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
backend/.env
backend/target
contract/build
frontend-v2/node_modules
frontend-v2/.env
frontend-v1/node_modules
frontend-v1/.env
frontend/node_modules

*.env

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/resources
